*.sdf
*.exe
*.dll
*.class
*.lib
*.ilk
*.pdb
*.opensdf
*.suo
*.tlog
*.log
*.o
*.a
*.manifest
*.obj
*.rc
*.pyc
*.manifest.res
*.lastbuildstate
*.unsuccessfulbuild
vc100.idb
*.exe.Err
.svn
*.ipch
Debug
js/v8/third_party
*.user
build/
build_hootsuite/
watchdog/node_modules/
test/data/movies/db
test/data/movies/lock
lib/v8
doc/
Doxyfile-tmp
log-doxygen.txt
test/JavaScriptAPI/db/
test/JavaScriptAPI/qm.conf

.project
.pydevproject
.settings/

